@import '~antd/dist/antd.css';

.navLink {
    padding: 10px;
    font-size: 1.5em;
}

.navBar {
    border-bottom: solid 1px;
    padding-bottom: 1rem;
    text-align: center;
    align-content: center;
}

.paragraphDiv {
    margin: 15px 0 15px 0;
}

.inputTextArea {
    padding: 10px;
}

.inputTextAreaContainer {
    margin: 20px;
    align-content: center;
    text-align: center;
}

.readingGuiContainer {
    margin: 20px;
    align-content: center;
}

.wordButton {
    padding: 0;
    margin: 2px;
}